.nav2{
    padding-top:40px;
    padding-left:0;
    width: 50%;
    margin:0 94.8875px 0 94.8875px;
    display:flex;
    display: flex;
    justify-content: space-evenly;
    text-decoration:none;
    
    position:relative;
    display:flex;
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    background-size: cover;
    background:transparent;
    top:10px;
      
}
.navin{
    color:black;
    text-decoration: none;
    text-decoration-line: none;
}